body {
  filter: grayscale(100%);
  display: grid;
  background-size: cover;
  justify-content: center;
  background-color: rgb(187, 135, 40);
}

#container {
  background-color: rgb(241, 185, 185);
  display: grid;
  justify-content: center;
  width: 80%;
  margin: 24px;
  padding: 32px;

}

#eur, #gbp, #calc {
  margin: 8px;
  padding: 8px;
}
input {
  margin-bottom: 8px;
}

#calc {
  justify-items: center;
  display: grid;
}

button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;

}

button:hover {
  cursor: pointer;
  background: rgb(175, 175, 38);
  border-image: black;
}